body{
  background-color:#bdc3c7;
  #game{
    height: 100vmin;
    width: 50vmin;
    margin: 0 auto;
    background-color:#34495e;
    position: relative;
    overflow: hidden;
    #score{
      position: absolute;
      font-size: 6vmin;
      color:#14AB7D;
    }
    img#p1 {
      bottom: 0;
      position: absolute;
      width: 10vmin;
      height: 20vmin;
      transition: left 0.1s ease-in;
    }
    img#p2{
      top: -10vmin;
      width: 10vmin;
      position: absolute;
    }
  }
}
